{% extends "base.html" %}

{% block body%}

<div class="container">
    <h1>Welcome!</h1>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form id="auth-form" action="{{url_for('login')}}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>       
        <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE_KEY }}"> </div> 
        <div class="email-input">
            <input type="text" name="email" placeholder="email" class="input-field">
        </div>
        <div class="pass-input">
            <input type="password" name="password" placeholder="password" class="input-field">
        </div>
        <div class="buttons">
         <div class="login-button">
             <input type="submit" value="Login" class="btn btn-login" onclick="setActionForm('login')">
         </div>
         <div class="reg-button">
             <input type="button" value="Register" class="btn btn-reg" onclick="setActionForm('register')">
         </div>
        </div>
        <a href="{{ url_for('forgotten_password') }}">Forgot your password?</a>

    </form>

</div>

<script>
    function setActionForm(action){
        let form = document.getElementById("auth-form")
        if (action === 'login'){
            form.action = "{{url_for('login')}}";
            form.method = "post";
            form.submit();
        } else if (action === "register") {
            form.action = "{{url_for('register')}}";
            form.method = "post";
            form.submit();
        }
    }
</script>


{% endblock %}